body{
    background-color: blue;
    color: white;
}

header {
    padding-top: 3%;
    padding-bottom: 3%;
}

section{
    background:rgb(221, 0, 255);
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    justify-content: center;
}

.chamada_texto{
    margin-right: 1%;
}

img{
    height: 200px;
}

.categorias_videos{
    display: flex;
    overflow: auto;
    gap: 15px;
}